[Principal]
TipoResposta=2
CodificacaoResposta=0
LogNivel=4
LogPath=/app/logs

[DFe]
SSLLib=1
TipoCertificado=0
UF=GO

[NFe]
Ambiente=2
ModeloDF=0
VersaoDF=3
PathSchemas=/app/schemas
SalvarGer=1
PathSalvar=/app/xml
ExibirErroSchema=1

[DANFE]
PathPDF=/app/pdf
TipoDANFE=1
